*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Balsamiq Sans', cursive;
}
.login-form{
	position: relative;
	min-height: 100vh;
	z-index:0;
	background: #0568c1;
	padding:40px;
	justify-content:center;
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	align-items: center;

}
.container{
	max-width: 1000px;
	margin:0 auto;
}

.login-form h1{
	text-align: center;
	font-size: 50px;
	font-weight: 400;
	color: #fff;
}

.login-form h2{
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 5px;
	font-weight: 500;
	color: #272346;
	text-align: center;
	margin-bottom: 0;
}

.login-form .main{
	position: relative;
	display: flex;
	margin:40px 0;
}
.content{
	flex-basis: 50%;
	padding: 3em 3em;
	background:#fff;
	box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

}
.form-img{
	flex-basis: 50%;
	background: #fff;
	background-size: cover;
	padding:10px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	justify-content: center;
	align-items: center;
	display: grid;
}
.form-img img{
	max-width: 105%;
}
.btn,
button,
input{
	border-radius: 35px;
}
.btn:hover,
button:hover{
	transition: 0.5 ease;
}


.login-form form{
	margin:30px 0;

}

.login-form input,.login-form textarea{
	outline:none;
	margin-bottom:15px;
	font-stretch:16px;
	color:#0568c1;
	/*text-align: left;*/
	padding: 10px 10px;
	width:100%;
	display: inline-block;
	box-sizing: border-box;;
	border:1px solid #e5e5e5;
	/*background:#f7fafc;*/
	transform: 0.3s ease;
}

.login-form input:focus{
	background:transparent;
	border:1px solid #0568c1;
}
.login-form button{
	font-size: 18px;
	color:#fff;
	width:100%;
	background:#0568c1;
	border:none;
	    margin-top: 30px;
	padding: 14px 15px;
	font-weight:500;
	transition: 0.3s ease;
}
.login-form button:hover{
	background:#fdc500;
	color:#0568c1;
}
p{
	text-align: left;
	/*margin-top: 0px;
	padding-top:0px;
	padding-bottom:0;*/
	font-size: 20px;
	color: #0568c1;
}

.select-box{
	width:300px;
	position: relative;
	margin-bottom: 15px;
	outline:none;

}
.select-box select{
	height: 42px;
	padding: 10px;
	line-height: 18px;
	font-size: 16px;
	width: 135%;
	box-sizing: border-box;
	color:#0568c1;
	border:1px solid #e5e5e5;
	border-radius: 35px;
	-webkit-appearance:none;
	appearance:none;
	background:#f7fafc;
	transform: 0.3s ease;
}
.select-box:after{
	content: "";
	position: absolute;
	right: 8px;
	top:20%;
	margin-bottom: 15px;
	pointer-events: none;
	border:1px solid  #e5e5e5;

}
.select-box select:focus{
	background:transparent;
	border:1px solid #0568c1;
}
.upload-box{
	font-size: 16px;
	padding: 0px;
	border-radius: 35px;
	border:1px solid #e5e5e5;
	outline: none;
}
::-webkit-file-upload-button{
	color: white;
	background: #0568c1;
	padding: 10px;
	border:none;
	border-radius: 35px;
	outline:none;
}
::-webkit-file-upload-button:hover{
	background:#fdc500;
	color:#0568c1;
}
.btn{ 
    /*border-radius: 35px;
    /*font-size: 18px;*/
	/*color:#fff;
	width:100%;
	border:none;
    margin-top: 30px;
	padding: 14px 15px;
	font-weight:500;
	transition: 0.3s ease;*/
    text-align:center;
    /*font-size: 18px;*/
    color: #fff;
    width: 100%;
    background: #0568c1;
    border: none;
    margin-top: 30px;
    padding: 14px 15px;
    font-weight: 500;
    transition: 0.3s ease;
 }

.btn:hover {
   background:#fdc500;
   /*box-shadow: 0 0 10px black;*/
   color: #FDC500;
   transition: 0.3s ease;
 }
.validate{
    margin-left:234px;
}