*{
    margin:0;
    padding: 0;
   font-family: 'Balsamiq Sans', cursive;
}
body{
    background-color: #DBF3FA;
}
.intro{
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#DBF3FA;
    /*background-color:#3AAFA9;*/
   /* background-color: #29BB9C;*/
    background-size: contain;
    background-repeat: no-repeat;
    height: 716px;
    
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100.6%;
    height:90px;
    padding:2px;
    box-sizing: border-box;
    transition: 0.5s;
    background:#00203F;
   /* background:#0568c1;*/
     z-index: 9999;
}

nav .logo 
{
    float: left;
  
}
nav .logo img
{
     margin: 16px 0px 0px 10px;
    width: 258px;
    height: auto;
    transition: 0.5s;
  
}
nav ul{
   float:right;
    list-style:none;
    margin-top: 30px;
   

}
nav ul li{

      display: inline-block;

}
nav ul li a{
    margin:10px 0px px 5px;
    color:#fff;
    padding: 20px 35px;
     border: 1px solid transparent;
    text-decoration: none;
    transition:0.6s ease;
    font-size: 22px;
    line-height:8px;

}
 nav ul li a:hover{
    background-color:rgba(0,0,0,0.2);
    color: #fff;
}
.intropic img{
      position: absolute;
    top: 83%;
    left: 55%;
    margin-right: 8%;
    float: right;
    width: 446px;
    height: auto;
    margin-top: -601px;
    z-index: 9;
}
.container {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 120px;
    position: absolute;
    top:29%;
    left: 0%;
}
.container h1 {
    position: relative;
    display: block;
    line-height: 1.2;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
    /*font-family: 'Khula', sans-serif;*/
     color:#00203F;
     font-size: 100px; 
     margin-left: 125px;
    margin-top: -126px; 
}
.container h2{
    position: relative;
    display: block;
    font-size: 4rem;
    line-height: 1.5;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
   /* font-family: 'Khula', sans-serif;*/
     color:#00203F;
     font-size: 100px;
     margin-left: 465px;  
}
.title-container button{
font-size: 20px;
    color: #fff;
    height: 47px;
    width: 182px;
    background: #00203F;
    border: none;
    margin-top: 126px;
    margin-left: 348px;
    margin-bottom: 5px;
    padding: 6px -16px;
    font-weight: 500;
    transition: 0.3s ease;
}
.login-form{
    position: relative;
    height: 440px;
    z-index:0;
    background: #fff;
    padding:115px;
    justify-content:center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;

}
.profile-container{
    max-width: 800px;
    margin:0 auto;
    top: 10%;
    left: 20%;
    margin-top: 9px;
    margin-left:-468px;
}

.login-form h1{
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    color: #00203F;
    margin-bottom: -58px;
    margin-left: -464px;
    /*margin-top: -502px;*/
}

.login-form h2{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #272346;
    text-align: left;
    margin-bottom: 0;
}

.login-form .main{
    position: relative;
    display: flex;
    margin:40px 0;
}
.content{
    flex-basis: 80%;
    padding: 3em 3em;
    background:#F6F6F6;
    box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
        width: 600px;
}
.form-img{
    flex-basis: 50%;
    background: #F6F6F6;
    background-size: cover;
    padding:10px;
    justify-content: center;
    align-items: center;
    display: grid;
}
.form-img img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color:black;
}

.login-form form{
    margin:30px 0;

}
.side-img img {
           width: 413px;
    height: auto;
    margin-left: 1060px;
    margin-top: -543px;
}



/*create survey*/
.create-form{
    position: relative;
    height: 440px;
    z-index:0;
    background: #F6F6F6;
    padding:115px;
    justify-content:center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;

}
.survey-container{
    max-width: 800px;
    margin:0 auto;
    top: 10%;
    left: 20%;
    margin-top: -92px;
    margin-left:-17px;
}

.create-form h1{
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    color: #00203F;
    margin-bottom: -58px;
    margin-left: -464px;
    /*margin-top: -502px;*/
}

.create-form h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #272346;
    text-align: center;
    margin-bottom: 0;
}

.create-form .survey-main{
    position: relative;
    display: flex;
    margin:40px 0;
    flex-direction: column;
}
.survey-content{
    flex-basis: 80%;
    padding: 3em 3em;
    background:#fff;
    box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
        width: 623px;
        border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.survey-img{
    flex-basis: 50%;
    background: #fff;
    background-size: cover;
    padding:10px;
    justify-content: center;
    align-items: center;
    display: grid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.survey-img img{
    width: 696px;
    height: auto;
}

a{
    text-decoration: none;
    color:black;
}

.survey-form form{
    margin:30px 0;

}
.add {
    font-size: 18px;
    color: #fff;
    width: 162px;
    height: 43px;
    background: #00203F;
    border: none;
    font-weight: 500;
    transition: 0.3s ease;
    border-radius: 0px;
    margin-left: 213px;
    margin-top: 10px;
}
.add:hover{
    background:#fdc500;
    color:#0568c1;
}

/*future*/
.fut-form{
    position: relative;
    height: 243px;
    z-index:0;
    background: #fff;
    padding:115px;
    justify-content:center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;

}
.fut-container{
    width: 1125px;
    margin:0 auto;
    top: 10%;
    left: 20%;
    margin-top: 9px;
    margin-left:-140px;
}

.fut-form h1{
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    color: #00203F;
    margin-bottom: -49px;
    margin-left: -140px;
    /*margin-top: -502px;*/
}

.fut-form h2{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #272346;
    text-align: left;
    margin-bottom: 0;
}

.fut-form .fut-main{
    position: relative;
    display: flex;
    margin:40px 0;
}
.fut-content{
    flex-basis: 80%;
    padding: 2em 1em;
    background:#F6F6F6;
    box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
        width: 600px;
}
.fut-img{
    flex-basis: 20%;
    background: #F6F6F6;
    background-size: cover;
    padding:10px;
    justify-content: center;
    align-items: center;
    display: grid;
}
.fut-img img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color:black;
}

.fut-form form{
    margin:30px 0;

}
footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #17252A;
    background-color: #BCD2E8;
    /*margin-top: 55px;*/
}
.footer > *{
    flex: 1 100%;
}
.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;

}
.footer-left img{
    width: 250px;
}
h2{
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.footer ul{
    list-style: none;
    padding-left: 0; 
}
.footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;

}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    color: #17252A;

}
.footer-right > *{
    flex: 1 50%
    margin-right: 1.25em;
}
.box a{
    color: #9999;
}
.footer-bottom{
    padding-top:15px;
    text-align: center;
    color: #fff;
    background-color: #00203F;
    height: 50px;
}
.footer-left p{
    margin-top: 0px;
    padding-left: 12%;
    color: #17252A;
    font-size: 12px;
    font-family: 'Libre Baskerville', serif;

}
.socials a{
    background: #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}
.socials a img{
    height: 40px;
    width: 40px;
}
@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex:2 0px;
    }
}
@media (max-width: 600px){
    .footer{
        padding: 15px;
    }
}
.box li a{
    color: #17252A;
}
.title-container span {
    position: relative;
    display: block;
    font-size: 4rem;
    line-height: 1.5;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
    /* font-family: 'Khula', sans-serif; */
    color: #00203F;
    font-size: 100px;
    margin-left: 465px;
}
.login-form span{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #272346;
    text-align: left;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
